<!-- show.html.erb -->
<article>
  <h1 class="border-bottom mt-3 p-3"><%= @article.title %>
    <%= link_to ("<i class=\"fa fa-pencil\"></i>").html_safe, edit_article_path(@article) %>
    <%= link_to ("<i class=\"fa fa-trash-o\"></i>").html_safe, article_path(@article), method: :delete, data: {confirm: "Do you want to delete #{@article.title}?" }   %>
  </h1>
  <p class="p-3"><%= @article.content %></p>
</article>
